.header {
  margin-block-end: 40px;
  padding: 12px;
  background-color: var(--header-bg);
  color: var(--header-text);
}

.heading {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
}

.logo {
  font-family: var(--logo-font);
}

.logo span {
  font-family: var(--system-font);
}
