.outlineDark {
  composes: outlineDark from "../button/button.module.css";
}
.outlineDark:hover {
  border: 2px solid var(--brand-main);
  color: var(--brand-main);
  background-color: var(--header-text);
}

.hideInput {
  appearance: none;
  position: absolute;
}

.outlineDarkChecked:not(:checked):hover + label span {
  background-color: rgb(236, 236, 236);
}

.outlineDarkChecked:focus + label span {
  outline: 2px solid -webkit-focus-ring-color;
  outline-offset: -2px;
}

.outlineDarkChecked:checked + label span {
  border: 2px solid var(--brand-main);
  color: var(--brand-main);
  background-color: var(--brand-main-light);
}

.inputState {
  composes: hideInput;
  composes: outlineDarkChecked;
}
